/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------- Début du CSS ------- */

body {
  background: #0a192f;
  font-family: "Poppins";
  transition: 0.3s;
}

.light {
  background: #ffffff;
}

/* ------- bases ------- */

.flex {
  display: flex;
}

.color1 {
  color: #d8ddef;
}

.light .color1 {
  color: #2e3d62;
}

.color2 {
  color: #7f8897;
}

h2 {
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
  /* text-decoration: underline;
  text-decoration-color: #95a899;
  text-underline-offset: 1.2rem; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------- Fin des bases------- */


/* -- Navigation -- */


.navigation {
  color: #ffffff;
  justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  background: #0a192f;
  border-bottom: .1px solid white
}

.navigation ion-icon {
  font-size: 20px;
}

.light .navigation {
  color: #2e3d62;
  background: #ffffff;
  border-color: #0a192f;
}

nav>ul {
  gap: 3rem;
  font-size: 1rem;
}

.navigation ion-icon {
  cursor: pointer;
}

.navigation a {
  position: relative;
}

.navigation a::before {
  content: "";
  position: absolute;
  top: 120%;
  width: 0;
  height: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  background: #95a899;
  transition: 0.3s;
}

.navigation a.active::before {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.light a {
  color: #2e3d62;
}

/* -- Fin de la navigation -- */


/* Menu */
#menu {
  z-index: 2;
  position: fixed;
  padding: 5px;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
  background: #0a192f;
}

#menu>div {
  width: 80%;
  height: 3px;
  position: relative;
  background: white;
  transition: 0.3s;
}

#menu>div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300%;
  background: white;
}

#menu>div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 300%;
  background: white;
}

.light #menu {
  border-color: #2e3d62;
  color: #2e3d62;
  background: white;
}

.light #menu>div::before {
  background: #2e3d62;
}

.light #menu>div::after {
  background: #2e3d62;
}

.light #menu>div {
  background: #2e3d62;
}

#menu.active>div {
  transform: rotate(45deg);
}

#menu.active>div::before {
  top: 0;
}

#menu.active>div::after {
  transform: rotate(-90deg);
  bottom: 0;
}

/* Fin du menu */


/* -- Header -- */
.header {
  color: white;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
}


.headerText{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.light .header {
  color: #2e3d62;
}

.header .bjr {
  animation: title 1s ease 0s 1 normal forwards;
  color: #95a899;
  font-size:1.4rem;
}

.infos {
font-size: 1.3rem;
line-height: 1.5;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

.header h1 {
  font-size: 4.5rem;
  color: #d8ddef;
  font-weight: bold;
  letter-spacing: 5px;
}

.light .header h1 {
  color: #2e3d62;
}

.header h3 {
  font-size: 1.3rem;
  color: #a0a4b8;
}

.mention {
  color:#d8ddef;
  font-size:2rem
}

.val {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5rem
}

.legal {
  max-width: 1200px;
  color:#a0a4b8;
  line-height: 3rem;
}

section, .contact {
  min-height: 65vh !important;
}
/* -- Fin du header -- */


/* -- Bouton -- */
.button {
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  color: white;
  background: #95a899;
  border-color: #95a899;
  border: 1px solid #95a899
}

.light .button {
  color: #ffffff;
  border-color: #ffffff;
}

.button:hover {
  transition: 0.3s;
  cursor: pointer;
  background: none;
  color: #95a899;
  border: 1px solid #95a899;

}

/* -- Fin du Bouton -- */


.a-propos {
  flex-direction: column;
  gap: 1.5rem;
}

.a-propos>p {
  max-width: 650px;
  line-height: 1.7rem;
}

.card {
  flex-direction: column;
  text-align: center;
  color: #0a192f;
  gap: 1rem;
  background-color: #7f8897;
  padding: 15px 30px;
  border-radius: 5px;
}

.card img {
  height: 80px;
}

.cards {
  gap:3rem;
  justify-content: space-between;
}

.competences {
  gap:2rem;
  color:#d8ddef;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competences h3 {
  font-size: 1.3rem;
}

.skilla {
  display:flex;
  gap:20rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.projet-card {
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #a0a4b8;
  margin-bottom: 50px;
}

.projets-cards {
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.card>img:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.contact {
  margin: 0 auto;
  max-width: 1200px;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}


.card-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  border:2px solid white;
  padding: 0 5rem 0 5rem;
  text-align: center;
  position: fixed;
  min-height: 95%;
  min-width: 80%;
  top:0;
  left:50%;
  background-color: #0a192f;
  color:#d8ddef;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  z-index:2
  }

  .open-popup {
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);

  }
  
  .card-project h1 {
      font-size: 2rem;
  }
  
  .card-project p {
      max-width: 1000px;
      line-height: 2;
  }
  
  .techno img {
      padding: 15px;
  
  }
  .fermer {
      position: absolute;
      top:20px;
      right: 20px;
      font-size: 3rem;
      cursor:pointer;
  }
  
  .fermer:hover {
      color:#DC143C
  }
  
  .infos {
      display:flex;
      justify-content: center;
      align-items: center;
      gap:5rem
  }

  section {
    min-height:90vh;
    width: 100vw;
    padding-top:120px;
    padding-bottom:50px;
  }

  #home {
    padding-top:0px ;
  }

  .skills {
    color:#d8ddef
  }

  .light .card {
    color: #d8ddef;
    background-color: #0a192f;
  }

footer{
  display: flex;
  justify-content: center;
  padding:20px;
  border-top: 1px solid #95a899;
  color:#d8ddef;
} 
footer a {
  color:#d8ddef
}
footer a:hover {
  animation: .3s;
  color:#95a899;
}


.moving-mouse-holder {
  margin: auto;
  margin-top: -150px;
  width: 1200px;
  display: flex;
  gap:2rem;
  align-items: center;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #d8ddef;
}

.moving-mouse-holder .mouse-button {
  background-color: #d8ddef;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
  color: #a0a4b8;
  font-size: 16px;
  line-height: 1em;
}

.card-contact {
  color:#d8ddef;
  position: relative;
height: auto;
width: 150px;
padding: 40px 50px 40px 50px;
border-radius: 5px;
border:1px solid #d8ddef;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size:1.2rem
}

.light .card-contact {
  border-color:#0a192f
}

.card-contact p {
  font-size: 1rem;
  color:#7f8897
}

.card-contact ion-icon {
  background-color:#0a192f;
  padding:15px;
  border-radius: 50%;
  color:#d8ddef;
  position:absolute;
  border:#d8ddef 1px solid;
  top:-40%;
  font-size:2.6rem
}

.light .card-contact ion-icon {
  color:#0a192f;
  background-color:#ffffff;
  border-color:#0a192f
}



.allcards-contact {
  display: flex;
  padding-top:5rem;
  justify-content: space-between;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}


@media (max-width: 768px) {

  .moving-mouse-holder {

    margin-top:0px;
  }

  .allcards-contact {
    justify-content: center;
    gap:5rem;
    flex-wrap: wrap;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: auto;
    right: -18rem;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #0a192f;
    box-shadow: 3px 0px 15px 0px #ffffff;
    transition: 0.3s;
  }

  .navigation ion-icon {
    font-size: 25px;
  }

  .light .navigation {
    background: #ffffff;
    box-shadow: 3px 0px 15px 0px #2e3d62;
  }

  .navigation.active {
    z-index: 1;
    right: 0rem;
  }

  nav>ul {
    height: 80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  nav>ul>li {
    font-size: 1rem;
  }

  #menu {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
  }

  .header h1 {
    font-size: 3.5rem;
  }

  .a-propos {
    padding-bottom: 5rem;
  }

  .cards {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .projets-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .projet-card {
    margin-bottom: 20px;
    gap: 1rem;
  }

  .projet-card p {
    margin: 0;
  }

  .projet-card img {
    height: 150px;
    margin: 0;
  }

  body {
    padding: 20px;
  }

  .headerText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #burger {
    font-size: 42px;
  }

  .projets h2 {
    padding-top: 15px;
  }


}
